<!-- slide-type: two-col -->
<h2 class="animate-in">{{HEADING}}</h2>
<div class="columns animate-in">
  <div class="col">
    <h3>{{PHASE_1_TITLE}}</h3>
    <ul>
      <li>{{PHASE_1_ACTION_1}}</li>
      <li>{{PHASE_1_ACTION_2}}</li>
    </ul>
    <h3>{{PHASE_2_TITLE}}</h3>
    <ul>
      <li>{{PHASE_2_ACTION_1}}</li>
      <li>{{PHASE_2_ACTION_2}}</li>
    </ul>
  </div>
  <div class="col">
    <h3>{{PHASE_3_TITLE}}</h3>
    <ul>
      <li>{{PHASE_3_ACTION_1}}</li>
      <li>{{PHASE_3_ACTION_2}}</li>
    </ul>
  </div>
</div>
